<div class="page">
  <div class="post">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="relative inline-block">
          <img
            [ngSrc]="
              'v1712914104/social/samples/kimson-doan-HD8KlyWRYYM-unsplash_pwpngb.jpg'
            "
            width="48"
            height="48"
            [loaderParams]="{ rounded: true }"
          />

          <span
            class="absolute bottom-0 right-2 block h-[0.35rem] w-[0.35rem] rounded-full ring-2 ring-white bg-green-400"
          ></span>
        </div>
        <div class="flex flex-col ml-3">
          <p class="text-sm font-semibold">Anthony Henderson</p>
          <ul class="dot-seperated-list">
            <li class="dot-seperated-list-item">2 hours ago</li>
            <li class="dot-seperated-list-item">Kyiv, Ukraine</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div [appPost]="dummyPost" class="text-sm"></div>
    </div>
    <div class="mt-2 pb-2">
      <img class="rounded-lg" [ngSrc]="'v1712913909/social/samples/eberhard-grossgasteiger-0v0i6BdrDwE-unsplash_aifsgn.jpg'" width="388" height="388" priority />
    </div>
  </div>
</div>
